body {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.header {
    text-align: center;
}
.container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 325px 20px;
    justify-content: center;
    align-items: center;
}

.tasks-list,
.completed-list {
    list-style: none;
    padding: 0;
}
.task {
    min-width: 245px;
    max-width: 245px;
    margin: 0px;
    overflow: hidden;
    font-size: 1.125em;
}
.completed {
    text-decoration: line-through;
    color: gray;
}
.task-container {
    display: grid;
    grid-template-columns: 20px 245px 20px 20px;
    grid-auto-rows: 20px;
    grid-gap: 15px;
    margin: 10px 0;
}

button {
    font-size: 1.5em;
    text-decoration: none;
    color: black;
    border: none;
    background-color: white;
    cursor: pointer;
}

button:hover, button:focus {
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
}

button:focus {
    outline: none;
    box-shadow: none;
}

.create-button:hover, .create-button:focus {
    color: green;
}

.edit-button:hover, .edit-button:focus {
    color: blue;
}
.save-button:hover, .save-button:focus {
    color: blue;
}
.delete-button:hover, .delete-button:focus {
    color: red;
}

.disabled {
    color: gray;
    pointer-events: none;
}