.container {
	display: grid;
	justify-content: center;
	align-items: center;
	@include sm-min {
		grid-template-columns: 300px 20px;
	}
	@include sm {
		grid-template-columns: 240px 45px;
		overflow: hidden;
	}
}

.task-input {
	@include input;
}

.tasks-list {
	list-style: none;
	padding: 0;
}

.task-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	padding-bottom: 5px;
	border-bottom: 1px solid #c3c7c7;
	@include sm-min {
		width: 370px;
		margin: 10px 0;
	}
	@include sm {
		width: 290px;
		margin: 5px 0;
	}
}

.task {
	margin: 0px;
	padding: 5px;
	font-size: 1.125em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	@include sm-min {
		min-width: 245px;
		max-width: 245px;
	}
	@include sm {
		min-width: 160px;
		max-width: 160px;
	}
}

.edit-view {
	margin: 0px 1px 0px 0px;
	padding: 5px;
	font-size: 1.125em;
	overflow: hidden;
	@include sm-min {
		min-width: 240px;
		max-width: 240px;
	}
	@include sm {
		min-width: 157px;
		max-width: 157px;
	}
}

.create-button {
	margin-left: 25px;
}

.comp-button {
	margin: 10px 15px 0px 10px;
	cursor: pointer;
	&:after {
		line-height: 1.5em;
		content: '';
		display: inline-block;
		width: 15px;
		height: 15px;
		margin-top: -4px;
		margin-left: -4px;
		border-radius: 0.25em;
		border: 2px solid black;
		background-color: white;
	}
	&:checked:after {
		border-top: none;
		border-left: none;
		border-right: 3px solid black;
		border-bottom: 3px solid black;
		transform: rotate(45deg);
		border-radius: 0;
		height: 23px;
		width: 14px;
		margin-top: -9px;
		margin-left: 0px;
	}
	&:disabled:after {
		border: 2px solid rgb(172, 163, 163);
	}
}

.logout-button {
	position: absolute;
	@include sm-min {
		width: 150px;
		top: 20px;
		right: 30px;
	}
	@include sm {
		width: 101px;
		top: 10px;
		right: 0;
	}
}

.completed {
	text-decoration: line-through;
	color: gray;
}
